button {
margin: 10px
}

.buttons {
    display: inline-block;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1200px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
        height: 200%;
    }
  }

.project-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.project-item {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
