.logo {
    color: white;
    justify-self: start;
    margin-left: 7%;
    font-family: 'Bree Serif', serif;
    font-size: 2.2rem;
    text-shadow: 2px 2px gray;
    text-decoration: none;
    cursor: pointer;
    width: 200px
}

@media (max-width: 900px) {
    .logo {
        font-size: 4vw;
    }
}

.menu {
    list-style: none;
    text-align: center;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    justify-content: end;
    margin-right: 7%;
}


.navbar {
    background: rgba(98, 81, 26, 0.28);
    height: 70px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    color:rgb(255, 255, 255);
    padding: 10px 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px gray;

}

.nav-links:hover{
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: slategray;
    text-shadow: 0px 0px ;

}

.sticky-nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(168, 165, 151, 0.814);
    transition: 0.5s ease;
    border-radius: 0px;
}
