.logo {
    color: white;
    justify-self: start;
    margin-left: 24px;
    cursor: pointer;
}

.menu {
    list-style: none;
    text-align: center;
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    justify-content: end;
    margin-right: 24px;
}


.navbar {
    background: rgba(98, 81, 26, 0.28);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 20px;
}

.nav-links {
    color:rgb(255, 255, 255);
    padding: 10px 10px;
    text-decoration: none;
}

.nav-links:hover{
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: slategray
}
