#contact {
    background-color: rgba(98, 81, 26, 0.28);
    margin-left: -3.75%;
    margin-right: -3.75%;
    margin-bottom: -1.5%;
    padding: 50px 70px;
}

.contact-links{
    color: white;
    text-shadow: 2px 2px gray;
    /* font-size: 3.5rem; */
    text-decoration: none;
}

.contact-links-anchor {
    text-decoration: none;
}

#contact-me {
    color: white;
    text-shadow: 1.5px 1.5px gray;
    font-size: 4.5vh;
}
