body {
    /* background-image: url('./assets/sky.jpeg'); */
    background-size: fill;
    background-repeat: repeat;
    background-color: aliceblue;
}

.components {
    margin-left: 3%;
    margin-right: 3%;
}

.component-headers {
    font-size: 6vw;
    text-align:center;
    padding-top: 100px;
}

html{
    scroll-behavior: smooth;

}
