h2 {
    font-size: 4vw;
    text-align:center;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 6vh 10vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px
}

.personal-photo {
    width: 30%;
    height: 30%;
    max-width: 30%;
    max-height: 30%;
    object-fit:cover;
    border-radius: 100px;
}
 .photo {
    display:flex;
    justify-content: center;
 }
