h2 {
    font-size: 4vw;
    text-align:center;
    padding-top: 100px;
}

#about {
    padding-top: 200px;
}

#AboutMe {
    margin: 30px;
}

.about-container {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

@media (max-width: 900px) {
    .about-container {
        grid-template-columns: repeat(1, 1fr);
        height:
    }
  }

.about-me-intro {
    font-size: 1.5rem;
    line-height: 36px
}

.personal-photo {
    width: 30%;
    height: 30%;
    max-width: 30%;
    max-height: 30%;
    object-fit:cover;
    border-radius: 100px;
}

.photo {
    display:flex;
    justify-content: center;
}

 .technologies-container {
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    padding-top: 50px;
 }

 .technologies-heading {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
 }

 .technologies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3rem;
 }
