h2 {
    font-size: 4vw;
    text-align:center;
}

.about-container {
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    padding: 6vh 5%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

@media (max-width: 900px) {
    .about-container {
        grid-template-columns: repeat(1, 1fr);
        height:
    }
  }

.personal-photo {
    width: 30%;
    height: 30%;
    max-width: 30%;
    max-height: 30%;
    object-fit:cover;
    border-radius: 100px;
}

.photo {
    display:flex;
    justify-content: center;
}

#AboutMe {
    height: 80vh;
    margin: 30px
}
